<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senzecit.iitiimshaadi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewController.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewController.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.RegistrationQuickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.NewUserRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.SearchPartnerPaidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.PaidSubscriberDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewController.SubscriberDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".navigation.PaidBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigation.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".viewController.UploadVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.SearchPartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.FriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.MediaCoverageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".viewController.PremierServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.SuccessStoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewController.ChatMessagesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".viewController.IntroSliderActivity" />
        <activity
            android:name=".viewController.CustomFolderActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".customdialog.MainActivity" />
        <activity
            android:name=".viewController.YoutubeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".viewController.AlertPlanActivity" />
        <activity
            android:name=".viewController.PrivacyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewController.DisclaimerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewController.HowToNavigatePageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".viewController.IntroSliderWebActivity" />
        <activity android:name=".viewController.SubscriptionPlanActivity" />
        <activity android:name=".viewController.OtherProfileActivity" />
        <activity android:name=".viewController.ResultSearchPartnerActivity" />
        <activity android:name=".viewController.ResultPaidSearchPartnerActivity" />
        <activity android:name=".viewController.CustomFoldersActivity"></activity>
    </application>

</manifest>